@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #000000;
  font-family: "Noto Sans TC", "Helvetica,Arial,sans-serif";
  font-size: 16px;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #000000;
  /* 也可以寫 color: inherit */
}
a .active {
  color: #0027D5;
}

span {
  color: #0027D5;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
}

p {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

/* 共通 class */
.wrap {
  max-width: 1920px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .wrap {
    max-width: 768px;
  }
}
@media (max-width: 576px) {
  .wrap {
    max-width: 576px;
  }
}
@media (max-width: 375px) {
  .wrap {
    max-width: 375px;
  }
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  width: 100%;
  height: 90px;
}
.header .header-link {
  color: #000000;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.5;
  padding: 24px 0;
  text-decoration: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: -160px;
  background: #FBFBFB;
}
.container .hero1 {
  width: 50%;
  padding: 300px 80px;
  background-image: url("../images/HeroSection-1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container .hero2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 12px;
  width: 50%;
  padding: 300px 80px;
  background-image: url("../images/HeroSection-2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container .hero2 .blog-title {
  color: #0027D5;
  font-size: 120px;
  font-weight: 900;
  line-height: 1.5;
}
.container .hero2 .blog-text {
  color: #0027D5;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.5;
}

@media (max-width: 576px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
  .container .hero1 {
    width: 100%;
    height: 576px;
    padding: 24px;
  }
  .container .hero2 {
    width: 100%;
    height: 200px;
    padding: 24px;
  }
  .container .hero2 .blog-title {
    font-size: 52px;
    font-weight: bold;
  }
}
@media (max-width: 375px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .hero1 {
    width: 100%;
    height: 375px;
    padding: 24px;
  }
  .container .hero2 {
    width: 100%;
    height: 200px;
    padding: 24px;
  }
  .container .hero2 .blog-title {
    font-size: 52px;
    font-weight: bold;
  }
}
.last-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
}
.last-news .news-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}
.last-news .news-link {
  display: inline-block;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: auto;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 16px;
  border: 1px solid #000000;
  border-radius: 40px;
}

@media (max-width: 576px) {
  .last-news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .last-news .news-box {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .last-news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .last-news .news-box {
    width: 100%;
  }
}
.newswraper {
  max-width: 1280px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.newswraper .search {
  width: 416px;
  height: 56px;
  border: 1px solid #000000;
  padding: 16px 48px 16px 16px;
  border-radius: 40px;
  margin-top: 80px;
}
.newswraper .card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
}
.newswraper .card-list li {
  width: 400px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 16px;
}
.newswraper .card-link {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 16px;
  border: 1px solid #000000;
  border-radius: 40px;
}

@media (max-width: 768px) {
  .newswraper {
    width: 100%;
    gap: 10px;
  }
  .newswraper .search {
    width: 100%;
  }
  .newswraper .card-list {
    gap: 32px;
    padding: 40px 12px;
  }
  .newswraper .card-list li {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .newswraper {
    width: 100%;
    gap: 10px;
  }
  .newswraper .search {
    width: 100%;
  }
  .newswraper .card-list {
    gap: 32px;
    padding: 40px 12px;
  }
  .newswraper .card-list li {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .newswraper {
    width: 100%;
    gap: 10px;
  }
  .newswraper .search {
    width: 100%;
  }
  .newswraper .card-list {
    gap: 32px;
    padding: 40px 12px;
  }
  .newswraper .card-list li {
    width: 100%;
  }
}
.barBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  gap: 24px;
  padding: 40px 312px;
  background: #FBFBFB;
}
.barBlock .bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 328px;
  height: 56px;
  padding: 8px 20px;
}
.barBlock .bar .bar-item {
  width: 40px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding: 8px 0px;
}
.barBlock .bar .bar-item .preview, .barBlock .bar .bar-item .next {
  width: 24px;
  height: 24px;
}

.bottom-wrap {
  width: 100%;
  padding: 80px 312px;
  background: #FBFBFB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
}

.b-mail {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.5;
}

.b-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.b-icon .icon-item {
  width: 44px;
  height: 44px;
}

@media (max-width: 768px) {
  .barBlock {
    padding: 0 100px;
  }
  .bottom-wrap {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .b-icon {
    display: none;
  }
}
@media (max-width: 576px) {
  .barBlock {
    padding: 0 60px;
  }
  .bottom-wrap {
    width: 100%;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .b-icon {
    display: none;
  }
}
@media (max-width: 375px) {
  .barBlock {
    padding: 0 20px;
  }
  .bottom-wrap {
    display: none;
  }
}
.footer {
  width: 100%;
  height: 72px;
}
.footer .footer-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.detail-wrap {
  max-width: 636px;
  margin: 0 auto;
  padding: 80px 0;
}
.detail-wrap .article-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 48px;
}
.detail-wrap .article-list .article-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
}
.detail-wrap .article-list .article-item .pt-0 {
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
}
.detail-wrap .article-list .article-item .pt-8 {
  padding-top: 8px;
}
.detail-wrap .article-list .article-item .pt-12 {
  padding-top: 12px;
}
.detail-wrap .article-list .article-item .pt-24 {
  padding-top: 24px;
}
.detail-wrap .article-list .article-item .h-light {
  color: #0027D5;
}
.detail-wrap .article-list .article-item .dot-1 {
  display: block;
  padding-left: 1.2em;
  list-style-type: decimal;
  margin: 0;
}
.detail-wrap .article-list .article-item .dot-2 {
  display: block;
  padding-left: 1.2em;
  list-style-type: disc;
  margin: 0;
}
.detail-wrap .article-list .article-item .summary {
  background: #EDEDED;
  padding: 24px;
  border-radius: 24px;
}

.page-link {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.time {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.mark {
  color: white;
  background: #0027D5;
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 40px;
}

.title {
  color: #0027D5;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.5;
}

.title-2 {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
}

.text {
  height: 48px;
  font-size: 16px;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 限制顯示 3 行 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 8px;
  margin-bottom: 16px;
}

.underline {
  text-decoration: underline;
}

.search-icon {
  width: 24px;
  height: 24px;
}

.search-input {
  border: 0;
}

.btn {
  display: inline-block;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: auto;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 16px;
  border: 1px solid #000000;
  border-radius: 40px;
}

.ml-4 {
  margin-left: 4px;
}