
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    height: 90px;
    .header-link {
        color: $font-color-base;
        font-size: 28px;
        font-weight: bold;
        line-height: $font-line-height;
        padding: 24px 0;
        text-decoration: none;
    }
}
.container {
    display: flex;
    gap: -160px;
    background: #FBFBFB;
    .hero1 {
        width: 50%;
        padding: 300px 80px;
        background-image: url("../images/HeroSection-1.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .hero2 {
        width: 50%;
        padding: 300px 80px;
        background-image: url("../images/HeroSection-2.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        .blog-title {
            color: $color-blue;
            font-size: 120px;
            font-weight: 900;
            line-height: $font-line-height;
        }
        .blog-text {
            color: $color-blue;
            font-size: 28px;
            font-weight: bold;
            line-height: $font-line-height;
        }
    }
}
.last-news {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    .news-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
    }
}

.newswraper {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    .search {
        width: 416px;
        height: 56px;
        border: 1px solid $font-color-base;
        padding: 16px 48px 16px 16px;
        border-radius: 40px;
        margin-top: 80px;
    }
    .card-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        li {
            width: 400px;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 16px;
        }
    }
    .card-link {
        display: inline-block;
        font-size: $font-size-base;
        font-weight: 500;
        padding: 8px 16px;
        border: 1px solid $font-color-base;
        border-radius: 40px;
    }
}





.footer {
    width: 100%;
    height: 72px;
    .footer-text {
        font-size: $font-size-base;
        line-height: $font-line-height;
        text-align: center;
    }
}