.time {
    font-size: 16px;
    font-weight: 500;
    line-height: $font-line-height;
}

.tag {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.mark {
  color: white;
  background: $color-blue;
  font-size: 16px;
  padding : 6px 12px;
  border-radius: 40px;
}

.title {
  color: $color-blue;
  font-size: 28px;
  font-weight: bold;
  line-height: $font-line-height;
}

.title-2 {
  color: $font-color-base;
  font-size: 20px;
  font-weight: bold;
  line-height: $font-line-height;
}

.text {
  height: 48px;
  font-size: $font-size-base;
  line-height: $font-line-height;
  display: -webkit-box;
  -webkit-line-clamp: 2;        /* 限制顯示 3 行 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 8px;
  margin-bottom: 16px;
}

.underline {
  text-decoration: $text-line-underline; 
}

.search-icon {
  width: 24px;
  height: 24px;
}
.search-input {
  border: 0;
}

.btn {
    display: inline-block;
    align-self: flex-start;
    width: auto;
    font-size: $font-size-base;
    font-weight: 500;
    padding: 8px 16px;
    border: 1px solid $font-color-base;
    border-radius: 40px;
}

.ml-4 {
  margin-left: 4px;
}